.el-select {
  .el-input.is-focus .el-input__wrapper {
    box-shadow: none;
  }
}
.el-select:hover:not(.el-select--disabled) .el-input__wrapper {
  box-shadow: none;
}
.lang {
    align-self: flex-end;
  .el-input {
    width: 67px;
    height: 20px;
    &__wrapper {
      box-shadow: none;
      padding: 0;
      flex-direction: row-reverse;
      &:hover {
        box-shadow: none;
      }
    }
    &__inner {
      color: #78708f;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }
    &__suffix {
      width: 16px;
      height: 16px;
      &-inner {
        width: 100%;
        height: 100%;
        i {
          margin: 0;
        }
      }
    }
  }
}
