.main {
  // max-width: 1000px;
  width: 100%;
  padding-right: 32px;
  display: flex;
  column-gap: 32px;
  &__content {
    max-width: 968px;
    width: 100%;
  }
  .section__heading {
    color: #413663;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 24px;
  }
  section {
    padding: 16px 0;
  }
  .your-page__widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }
  .aside {
    padding: 32px;
    border-radius: 16px;
    background: #f9f9fb;
  }
}

@media (max-width: 500px) {
  .sidebar {
    left: -266px;
  }
  .main {
    flex-direction: column;
    padding: 0;
    margin-bottom: 60px;
    .your-page__widgets {
      display: flex;
      flex-direction: column;
      div {
        width: 100%;
      }
    }
    .aside {
      width: 100%;
    }
  }
}
